:root
{
	--light: #313131;
	--light-alpha: #313131aa;
	--lightdark: #a3a3a3;
	--lightdark-alpha: #a3a3a3aa;
	--maintext: #fff;
	--mainbg: #111;
	--mainbg-alpha: #111111aa;
	--accent: #ffdf6C;
	--accentdark: #e5c13e;
	--accentlight: #f8e18c;
	--accent-alpha: #ffdf6Caa;
}
