:root
{
	--light: #bbf590;
	--light-alpha: #bbf590aa;
	--lightdark: #5d8d2d;
	--lightdark-alpha: #5d8d2daa;
	--maintext: #000;
	--mainbg: #FFF;
	--mainbg-alpha: #FFFfffaa;
	--accent: #cb2222;
	--accent-alpha: #cb2222aa;
}
