:root
{
	--light: #ded3ad;
	--light-alpha: #e8cebfaa;
	--lightdark: #a78b4c;
	--lightdark-alpha: #a78b4caa;
	--maintext: #000;
	--mainbg: #FDF8f5;
	--mainbg-alpha: #FDF8f5aa;
	--accent: #266150;
	--accent-alpha: #266150aa;
}
