@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/** MAIN **/
*{
	font-family: 'Rubik';
	transition: 0.2s;
}
i
{
	transition: 0s;
}

body,html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: var(--mainbg);
	transition: 0s;
}
body
{
	transition: 0.9s;
	display: none;
	opacity: 0;
	transition: 0;
}

/*** TITLE **/
#nav {
	width: 100%;
	height: 100px;
	background-color: var(--light);
	color: var(--mainbg);
	display: flex;
	align-items: center;
	transition: 0s;
}

#navlogoimg
{
	height: 40px;
	margin: 0 20px;
	margin-right: 0px;
	margin-left: calc( 5vw + 10px );
}

#navlogotext
{
	font-size: 35px;
	margin: 0 20px;
	float: left;
	font-weight: 700;
}

.navitem
{
	position: relative;
	float:right;
	margin: 10px 20px;
	padding-top: 10px;
	font-weight: 900;
	border-bottom: 2px solid var(--accent);
}
.desktop .navitem
{
	border-bottom: none;
}
.desktop .button-round
{
	border-bottom: 3px solid var(--accent);
}
#titlewrapper {
	height: 100vh;
	width: 100%;
}

#titlediv {
	height: calc( 100% - 100px );
	//background-color: var(--light);
	transition: 0;
	width: 100%;
	display: flex;
	align-items: center;
	//justify-content: center;	
	background-image: linear-gradient( var(--light), var(--mainbg) );
}
#titlediv


#title {
	width: 70%;
	color: var( --maintext );
	font-size: 100px;
	margin-left: calc( 5vw + 25px );
	padding-right: 40px;
	font-weight: 300;
}

#title h1 {
	font-size: 100px;
	margin: 0px;
	padding: 0;
	font-weight: 400;
	text-decoration-line: underline;
	text-decoration-color: var(--accent);
}

.subheader a {
	text-decoration: none;
	color: var(--accent);
}
.subheader a:hover {
	text-decoration: none;
	color: var(--accentdark);
}

#sooraj {
	max-width: 100%;
	width: 100%;
	border-radius: 50%;
	animation: jiggle 1s infinite;
}
@keyframes jiggle
{
	0%{
		transform: rotate(-1deg);
	}
	50%{
		transform: rotate(1deg);
	}
	100%
	{
		transform: rotate(-1deg);
	}
}


.attent
{
	animation: attent 4s infinite;
}
@keyframes attent
{
	0%,100%, 44%,54% {
		transform: scale(1) rotate(0deg);
	}
	46%{
		transform: scale(1) rotate(-3deg);
	}
	48%{
		transform: scale(1) rotate(3deg);
	}
	50%{
		transform: scale(1) rotate(-3deg);
	}
	52%{
		transform: scale(1) rotate(3deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
	
}



#title h6 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: 300;
	color: var(--maintext);
	position: absolute;
	top: calc( 2px + 25vh );
	left: calc( 5vw + 30px );
}

.desktop {
	display: block;
}
.mobile
{
	display: none;
}

#viewgithub
{
	margin-left: 15px;
}

#buttons 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
	align-items: center; 
	height: 100px;
}

.header {
	font-size: 60px;
	margin-bottom: 0px;
	color: var(--maintext);
	font-weight: 500;
	text-align: left;
}

#armandcar {
	padding: 80px 0px;
}
#javascript {
	padding: 60px 0px;
}

hr {
	border-style: solid;
	border-width: 1px;
	width: calc( 100vw - 60px);
	max-width: 1000px;
	color: var(--lightdark);
}

footer {
	padding: 80px 0px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}


.footernav {
	border-bottom: 2px solid var(--accent);
}

.content {
	position: relative;
	max-width: 900px;
	width: calc( 100vw - 60px);
}

.content img {
	width: 100%;
}

.subtitle {
	
	font-size: 20px;
	color: var(--lightdark);
	font-weight: 800;
	text-align: left;
	margin: 0px;
	margin-bottom: 60px;
	padding-left: 5px;
}

.subheader {
	font-size: 40px;
	margin-bottom: 0px;
	color: var(--maintext);
	font-weight: 500;
	//text-decoration: underline;
	text-decoration-color: var(--accent);
	text-align: left;
}

p {
	font-family: "Playfair Display";
	text-align: left;
	font-size: calc( 0.5vw + 13px );
	font-weight: 400;
}

#shapes {
	width: 20vw;
	height: 20vw; 
	position: absolute;
	right: calc( 30vw - 200px );
}

#circle1 {
	position: absolute;
	width: 15vw;
	height: 15vw; 
	border-radius: 50%; 
	background-color: var(--accent-alpha);
	bottom: 0;
	right: 0;
}

#circle2 {
	position: absolute;
	width: 10vw;
	height: 10vw; 
	border-radius: 50%; 
	background-color: var(--lightdark-alpha);
}

#circle3 {
	position: absolute;
	width: 5vw;
	height: 5vw; 
	border-radius: 50%; 
	right: 0;
	top: 4vw;
	background-color: var(--mainbg-alpha);
}

#t1 {
	fill: #222222dd;
	stroke-width: 0;
}

#p1 {
	fill: white;
	stroke-width: 0;
}
#d1 {
	fill: #22222277
}
	

#soorajdiv {
	max-width: calc( 25% + 100px );
	padding-right: calc( 5vw + 25px );
}


#svg-container {
	position: absolute;
	top:0;
}

.fa-link {
	font-size: 30px;
}

iframe {
	max-width: 900px;
	width: calc( 100vw - 60px);
	height: 90vh;
	border: none;
	box-shadow: 0px 0px 8px 10px #00000011;
}

#inline {
	text-decoration: underline;
	color: var(--lightdark-alpha)
}
#inline:hover
{
	color: var( --lightdark );
	cursor: pointer;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: left;
	width: 100%;
}

label {
	font-size: 18px;
	font-weight: 700;
}
input, textarea
{
	border-radius: 0px;
	outline: none;
	border-width: 0px;
	border-bottom: 2px solid var(--accent);
	color: var(--lightdark);
	width: 100%;	
	font-size: 23px;
	resize: none;
	padding: 15px 0px;
}
form .sec
{
	margin: 20px 0px;
	width: 100%;
	display: flex; justify-content: center; align-items: center; flex-wrap: nowrap; width: 100%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ddd;
}

#name {
	margin-bottom: 20px; margin-right: 40px; width: 80%;
}

#email {
	margin-bottom: 20px; width: 100%;
}

/**  MEDIA QUERIES **/
@media ( max-width: 800px )
{
	/****/
	form
	{
		width: 80%;
		margin: 60px 0;
	}
	form .sec
	{
		flex-wrap: wrap;
		flex-direction: column;
	}
	#name
	{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;	
	}
	.desktop {
		display: none;
	}
	.mobile
	{
		display: inline-block;
	}
		
	#nav
	{
		justify-content: center;
	}
	#mobilemenubutton
	{
		position: absolute;
		z-index: 11;
		top: 0.75em;
		right: 1em;
		color: var(--maintext);
		font-size: 35px;
		font-weight: 100;
		transition: 0.2s;
		user-select: none;
	}
	#mobilemenubutton:hover
	{
		cursor: pointer;
	}
	#mobilemenu{
		transition: 0.2s;
		opacity: 0;
		top: 0;
		z-index: 10;
		position: fixed;
		width: 100%;
		background-color: var(--mainbg);
		display: none;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	.navitem
	{
		margin: 30px 0;
	}
	#title h6
	{
		font-size: 25px;
	}
	#title h1
	{
		font-size: 70px;
		margin-bottom:30px
	}
	#buttons
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start; 
		align-items: center; 
		height: 100px;
		width: 200px;
	}
	
	#sooraj
	{
		display: none;
	}
	.header {
		font-size: 50px;
	}
	.subheader {
		font-size: 30px;
	}
	#armandcar,#javascript
	{
		padding: 0;
	}
}

#librariesicon {
	width: 30%;
	height: 20vw; 
	
	margin-right: calc( 10vw );
	font-size: calc( 18vw + 50px );
}